---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
<body>




    <ul>
        <li><a href="/posts/Post-1/">Blog</a></li>
        <li><a href="posts/Post-2/">Blog</a></li>
        <li><a href="/posts/Post-3/">Blog</a></li>
        <li><a href="/posts/Post-4/">Blog</a></li>
        <li><a href="/posts/Post-5/">Blog</a></li>
    </ul>
    </BaseLayout>
</body>
