---
const { title } = Astro.props;
import "../styles/global.css"; 
import Header from "../components/Header.astro";
---
<html lang="en">
  <head>
   <Header />
    <style>
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
</style>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50">
   

    <main class="max-w-5xl mx-auto px-4 py-10">
      <slot />
    </main>
  </body>
</html>